
.about-img{
    width: 27em;

   
}

mark{
    color: #ff3560;
    background-color: rgba(255,53,96, 0.3);

    padding: 0.15em;
    border-radius: 2px;
}

.fade-enter{
    opacity: 0;
  }
  
  .fade-appear{
    opacity: 0.01;
  
    
  }
  
  .fade-appear.fade-appear-active { 
    opacity: 1;
  
    transition: opacity 700ms ease-in;
  
  
  }
  /* This fires as soon as the this.state.showList is false */
  .fade-exit{
    opacity: 1;
    transform: translate(0, 0)
  
  }
  /* fires as element leaves the DOM*/
  .fade-exit-active{
    opacity: 0.01;
    transition: opacity 700ms ease-in;
  
  }



@media (max-width: 1200px) {


    .about-img{
        width: 20em;
    }

    
}

@media (max-width: 900px) {

    
    .about-img{
        width: 16em;
        padding-top: 4em;
    }

   
    
}