
.feature-img{
    width: 25em;

   
}



@media (max-width: 1200px) {


    .feature-img{
        width: 20em;
    }

    
}

@media (max-width: 900px) {

    
    .feature-img{
        width: 100%;
        padding-top: 4em;
    }

}