
.feature-img{
    width: 25em;

   
}

a{
    text-decoration: none;
}



@media (max-width: 1200px) {


    .feature-img{
        width: 20em;
    }

    
}

@media (max-width: 800px) {

    
    .feature-img{
        width: 100%;
    }

}

